<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>123</title>
    
    <link rel="stylesheet" href="~/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
</head>




<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column">
        <div class="div-4">VivaVoyages</div>
      </div>
      <div class="column-2">
        <div class="div-5">
          <div class="div-6">
            <div class="div-7">
              <a href="/Listtourcustomer/listtours">List Tour</a>
            </div>
            <div class="div-8">Promotion Tour</div>
            <div class="div-9">Hand Book</div>
            <div class="div-10">Support</div>
          </div>
          <div class="div-11">

            <a href="LoginRegister/Login"><img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/eeb35aed30c98f8270ef452cd6ce176fafce7dc439fb578354813a959c586046?"
                class="img-2" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-12">
    <img loading="lazy" src="/img/thac ban gioc.png" class="img-3" />
    <div class="div-13">
      <div class="div-14">Thác Bản Giốc, Cao Bằng</div>
      <div class="div-15">
        <span style="font-weight: 800; color: rgba(98, 149, 254, 1)">
          Thác Bản Giốc
        </span>
        , là điểm đến hấp dẫn với cảnh đẹp hùng vĩ như cổ tích tại dòng Quây
        Sơn, Cao Bằng.
      </div>
      <div class="div-16">Learn More</div>
    </div>
    <div class="div-17">
      <div class="div-18"></div>
      <div class="div-19"></div>
      <div class="div-20"></div>
      <div class="div-21"></div>
      <div class="div-22"></div>
      <div class="div-23"></div>
      <div class="div-24"></div>
      <div class="div-25"></div>
    </div>
  </div>
  <div class="div-26">
    <div class="div-27">
      <div class="div-28">Country, city, landmark</div>
      <div class="div-29">Cao Bằng</div>
    </div>
    <div class="div-30">
      <div class="div-31">
        <div class="div-32">People</div>
        <div class="div-33">Rooms</div>
      </div>
      <div class="div-34">
        <div class="div-35">
          <div class="div-36">−</div>
          <div class="div-37">2</div>
          <div class="div-38">+</div>
        </div>
        <div class="div-39">
          <div class="div-40">−</div>
          <div class="div-41">1</div>
          <div class="div-42">+</div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 115px;">
        <div class="row" style="padding-top: 10px;">
            <div class="col" style="padding: 34px;">
                <h1
                    style="padding-right: 0px;margin-left: 426px;margin-right: 426px;padding-top: 0px;padding-bottom: 0px;margin-top: 12px;margin-bottom: 12px;padding-left: 4px;width: 429px;">
                    <strong>Popular <span style="color: rgb(48, 228, 144);">Destinations</span></strong></h1>
            </div>
        </div>
        <div class="row"
            style="padding-bottom: 37px;padding-top: 37px;background: rgb(238, 227, 227) ;border-radius: 27px;width: 1271px;margin-left: 22px;margin-right: 23px;">
            <div class="col" style="position: relative;"><img
                    style="margin-left: 55px;width: 210px;height: 210px;padding: 0px;" src="~/img/1.png">
                <p
                    style="position: absolute;margin-top: -125px;margin-left: 96px;font-size: 27px;font-family: Montserrat, sans-serif;font-weight: bold;">
                    <span style="color: rgb(255, 255, 255);">HỘI&nbsp;AN</span></p>
            </div>
            <div class="col"><img style="margin-left: 51px;width: 210px;height: 210px;padding: 0px;" src="~/img/2.png">
                <p
                    style="position: absolute;margin-top: -125px;margin-left: 86px;font-size: 27px;font-family: Montserrat, sans-serif;font-weight: bold;">
                    <span style="color: rgb(255, 255, 255);">ĐÀ&nbsp;NẴNG</span></p>
            </div>
            <div class="col"><img style="margin-left: 48px;width: 210px;height: 210px;padding: 0px;" src="~/img/3.png">
                <p
                    style="position: absolute;margin-top: -125px;margin-left: 110px;font-size: 27px;font-family: Montserrat, sans-serif;font-weight: bold;">
                    <span style="color: rgb(255, 255, 255);">SAPA</span></p>
            </div>
            <div class="col"><img style="margin-left: 52px;width: 210px;height: 210px;padding: 0px;" src="~/img/4.png">
                <p
                    style="position: absolute;margin-top: -125px;margin-left: 126px;font-size: 27px;font-family: Montserrat, sans-serif;font-weight: bold;">
                    <span style="color: rgb(255, 255, 255);">HUẾ</span></p>
            </div>
        </div>
        <div class="row">
            <div id="viewMoreBtn" class="col" style="margin-left: 1px;"><button class="btn btn-primary" type="button"
                    style="width: 171.1px;margin: 0px;height: 46.6px;margin-left: 565px;margin-top: 26px;border-radius: 10px;">View
                    More</button></div>
        </div>
    </div>

    <div class="container" style="padding-top: 68px;">
        <div class="row">
            <div class="col">
                <h1
                    style="margin-left: 461px;padding-left: 68px;padding-bottom: 41px;margin-right: 496px;width: 390px;">
                    <strong>Special <span style="color: rgb(48, 228, 144);">Offers</span></strong></h1>
            </div>
        </div>
        <div class="row"
            style="background: rgb(238, 227, 227);border-radius: 28px;padding-top: 37px;padding-bottom: 27px;width: 1275px;margin-left: 18px;">
            <div class="col" style="margin-left: -38px;width: 297px;"><img
                    style="margin-left: 36px;width: 600px;height: 310px;padding: 0px;" src="~/img/5.png">
                <div class="row"
                    style="position: absolute;margin-top: -93px;margin-left: 58px;width: 550.162px;background: rgba(120, 112, 112, 0.956);border-radius: 9px;height: 78px;">
                    <div class="col">
                        <p style="font-size: 17px;">Quảng Ninh<br><strong>Ha Long Bay</strong></p>
                    </div>
                    <div class="col">
                        <p style="font-size: 17px;">Dates<br><strong>16.07 – 21.07</strong><br><br></p>
                    </div>
                    <div class="col">
                        <p style="font-size: 17px;">Price<br><strong>8,000,000 VND </strong><br><strong><span
                                    style="color: rgb(217, 20, 7);"> 20% OFF</span></strong></p>
                    </div>
                </div>
                <h1
                    style="margin-left: 38px;padding-top: 14px;font-size: 30px;font-family: 'Montserrat';font-weight: bold;">
                    Ha Long Bay, Quang Ninh</h1>
                <p style="margin-left: 44px;font-size: 18px;width: 542px;font-family: 'Montserrat';">Visit Chuc Tam Chuc
                    spiritual tourism complex - which is expected to become the largest spiritual tourism complex in the
                    world when completed in 2024 Cruise Ha Long Bay - enjoy the majestic beauty of Dinh Huong - Trong
                    Mai (Fighting Chicken) - Stone Dog islands.<br><br></p>
                <button class="btn btn-primary" type="button"
                    style="width: 216.1px;height: 52.6px;margin-top: -24px;margin-left: 103px;color: var(--bs-emphasis-color);background: var(--bs-body-bg);border-width: 1.8px;border-radius: 6px;">Lear
                    More</button>
                <button id="bookingBtn" class="btn btn-primary" type="button"
                    style="width: 216.1px;height: 52.6px;margin-top: -24px;margin-left: 38px;background: #2B4D93;border-radius: 6px;">Booking</button>
            </div>
            <div class="col" style="width: 300.5px;"><img
                    style="margin-left: 36px;width: 600px;height: 310px;padding: 0px;" src="~/img/6.png">
                <div class="row"
                    style="position: absolute;margin-top: -93px;margin-left: 58px;width: 550.162px;background: rgba(120, 112, 112, 0.956) ;border-radius: 9px;height: 79px;">
                    <div class="col">
                        <p style="font-size: 17px;">Quảng Ninh<br><strong>Ha Long Bay</strong></p>
                    </div>
                    <div class="col">
                        <p style="font-size: 17px;">Dates<br><strong>16.07 – 21.07</strong><br><br></p>
                    </div>
                    <div class="col">
                        <p style="font-size: 17px;">Price<br><strong>8,000,000 VND </strong><br><strong><span
                                    style="color: rgb(217, 20, 7);"> 20% OFF</span></strong></p>
                    </div>
                </div>
                <h1
                    style="margin-left: 38px;padding-top: 14px;font-size: 30px;font-family: 'Montserrat';font-weight: bold;">
                    Ha Long Bay, Quang Ninh</h1>
                <p style="margin-left: 44px;font-size: 18px;width: 542px;font-family: 'Montserrat';">Visit Chuc Tam Chuc
                    spiritual tourism complex - which is expected to become the largest spiritual tourism complex in the
                    world when completed in 2024 Cruise Ha Long Bay - enjoy the majestic beauty of Dinh Huong - Trong
                    Mai (Fighting Chicken) - Stone Dog islands.<br><br></p>
                <button class="btn btn-primary" type="button"
                    style="width: 216.1px;height: 52.6px;margin-top: -24px;margin-left: 103px;color: var(--bs-emphasis-color);background: var(--bs-body-bg);border-width: 1.8px;border-radius: 6px;">Lear
                    More</button>
                <button id="bookingBtn" class="btn btn-primary" type="button"
                    style="width: 216.1px;height: 52.6px;margin-top: -24px;margin-left: 38px;background: #2B4D93;border-radius: 6px;">Booking</button>
            </div>
        </div>
        <div class="row" style="margin-top: 87px;"></div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script>
    // Get the button element by its ID
    var viewMoreBtn = document.getElementById('viewMoreBtn');

    // Add event listener for click event
    viewMoreBtn.addEventListener('click', function() {
    // Redirect to ListTours page
    window.location.href = 'ListTourCustomer/ListTours';
    });
    </script> *@
    <script>
        // Get the button elements by their IDs
        var viewMoreBtn = document.getElementById('viewMoreBtn');
        var bookingBtn = document.getElementById('bookingBtn');
        

        // Add event listener for "View More" button click
        viewMoreBtn.addEventListener('click', function () {
            // Redirect to ListTours page
            window.location.href = 'ListTourCustomer/ListTours';
        });

        // Add event listener for "Booking" button click
        bookingBtn.addEventListener('click', function () {
            // Redirect to Booking/Create page
            window.location.href = 'Booking/Create';
        });

    </script>


</body>

</html>