<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/styleHome.css" asp-append-version="true" />
  <title>Document</title>
</head>




<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column">
        <div class="div-4">VivaVoyages</div>
      </div>
      <div class="column-2">
        <div class="div-5">
          <div class="div-6">
            <div class="div-7">
              <a href="/Listtourcustomer/listtours">List Tour</a>
            </div>
            <div class="div-8">Promotion Tour</div>
            <div class="div-9">Hand Book</div>
            <div class="div-10">Support</div>
          </div>
          <div class="div-11">

            <a href="LoginRegister/Login"><img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/eeb35aed30c98f8270ef452cd6ce176fafce7dc439fb578354813a959c586046?"
                class="img-2" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-12">
    <img loading="lazy" src="/img/thac ban gioc.png" class="img-3" />
    <div class="div-13">
      <div class="div-14">Thác Bản Giốc, Cao Bằng</div>
      <div class="div-15">
        <span style="font-weight: 800; color: rgba(98, 149, 254, 1)">
          Thác Bản Giốc
        </span>
        , là điểm đến hấp dẫn với cảnh đẹp hùng vĩ như cổ tích tại dòng Quây
        Sơn, Cao Bằng.
      </div>
      <div class="div-16">Learn More</div>
    </div>
    <div class="div-17">
      <div class="div-18"></div>
      <div class="div-19"></div>
      <div class="div-20"></div>
      <div class="div-21"></div>
      <div class="div-22"></div>
      <div class="div-23"></div>
      <div class="div-24"></div>
      <div class="div-25"></div>
    </div>
  </div>
  <div class="div-26">
    <div class="div-27">
      <div class="div-28">Country, city, landmark</div>
      <div class="div-29">Cao Bằng</div>
    </div>
    <div class="div-30">
      <div class="div-31">
        <div class="div-32">People</div>
        <div class="div-33">Rooms</div>
      </div>
      <div class="div-34">
        <div class="div-35">
          <div class="div-36">−</div>
          <div class="div-37">2</div>
          <div class="div-38">+</div>
        </div>
        <div class="div-39">
          <div class="div-40">−</div>
          <div class="div-41">1</div>
          <div class="div-42">+</div>
        </div>
      </div>
    </div>
    <div class="div-43">
      <div class="div-44">Dates</div>
      <div class="div-45">16.01.24 – 19.02.24</div>
    </div>
    <img loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/276186c84814feca4dc80516f27b5a7095c8ac02112d96f6952f69f0baeab15b?"
      class="img-4" />
    <div class="div-46">
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fb2efc5272332d76e6203c79be5d072327155f8c1bddbe7d5b7ef82bf7de6e35?"
        class="img-5" />
    </div>
  </div>
  <div class="div-47">
    Popular
    <span style="color: rgba(48, 228, 144, 1)">Destinations</span>
  </div>
  <div class="div-48">
    <div class="div-49">
      <div class="column-3">
        <div class="div-50">
          <div class="div-51">
            <img loading="lazy" srcset="/img/1.png" class="img-6" />
            Hội An
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="div-53">
          <div class="div-54">
            <img loading="lazy" srcset="/img/2.png" class="img-7" />
            Đà Nẵng
          </div>
        </div>
      </div>
      <div class="column-5">
        <div class="div-56">
          <div class="div-57">
            <img loading="lazy" srcset="/img/3.png" class="img-8" />
            SAPA
          </div>
        </div>
      </div>
      <div class="column-6">
        <div class="div-59">
          <div class="div-60">
            <img loading="lazy" srcset="img/4.png" class="img-9" />
            Huế
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-62">View More</div>
  <div class="div-63">
    Special
    <span style="color: rgba(48, 227, 144, 1)">offers</span>
  </div>
  <div class="div-64">
    <div class="div-65">
      <div class="div-66">
        <div class="column-7">
          <div class="div-67">
            <img loading="lazy" srcset="/img/5.png" class="img-10" />
            <div class="div-68">
              <div class="div-69">
                <div class="div-70">Quảng Ninh</div>
                <div class="div-71">Ha Long Bay</div>
              </div>
              <div class="div-72">
                <div class="div-73"></div>
                <div class="div-74">
                  <div class="div-75">Dates</div>
                  <div class="div-76">16.07 – 21.07</div>
                </div>
              </div>
              <div class="div-77">
                <div class="div-78"></div>
                <div class="div-79">
                  <div class="div-80">Price</div>
                  <div class="div-81">
                    8,000,000 VND
                    <br />
                    <span style="color: rgba(238, 104, 95, 1)">20% OFF</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-8">
          <div class="div-82">
            <img loading="lazy" srcset="/img/6.png" class="img-11" />
            <div class="div-83">
              <div class="div-84">
                <div class="div-85">City</div>
                <div class="div-86">Phú Quốc</div>
              </div>
              <div class="div-87">
                <div class="div-88"></div>
                <div class="div-89">
                  <div class="div-90">Dates</div>
                  <div class="div-91">30.07 – 05.08</div>
                </div>
              </div>
              <div class="div-92">
                <div class="div-93"></div>
                <div class="div-94">
                  <div class="div-95">Price</div>
                  <div class="div-96">
                    3,450,000 VND
                    <br />
                    <span style="color: rgba(238, 104, 95, 1)">10% OFF</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-97">
      <div class="div-98">Ha Long Bay, Quảng Ninh</div>
      <div class="div-99">Phu Quoc City</div>
    </div>
    <div class="div-100">
      <div class="div-101">
        <div class="column-9">
          <div class="div-102">
            Visit Chuc Tam Chuc spiritual tourism complex - which is expected to
            become the largest spiritual tourism complex in the world when
            completed in 2048
            <br />
            Cruise Ha Long Bay - enjoy the majestic beauty of Dinh Huong - Trong
            Mai (Fighting Chicken) - Stone Dog islands.
          </div>
        </div>
        <div class="column-10">
          <div class="div-103">
            Visit Truc Lam Ho Quoc Zen Monastery - the most beautiful and
            largest pagoda on the pearl island.
            <br />
            Visit the Pearl Cultivation Center.
            <br />
            Get on a canoe and climb on the sea, start the journey to explore
            the beautiful islands.
          </div>
        </div>
      </div>
    </div>
    <div class="div-104">
      <div class="div-105">Read more</div>
      <div class="div-106">Booking</div>
      <div class="div-107">Read more</div>
      <div class="div-108">Booking</div>
    </div>
    <div class="div-109">
      Things
      <span style="color: rgba(48, 227, 144, 1)">to DO</span>
    </div>
  </div>
  <div class="div-110">
    <div class="div-111">
      <div class="column-11">
        <div class="div-112">
          <div class="div-113">
            <img loading="lazy" srcset="/img/7.png" class="img-12" />
            See all
          </div>
          <div class="div-115">PHOTOGRAPHY</div>
        </div>
      </div>
      <div class="column-12">
        <div class="div-116">
          <div class="div-117">
            <img loading="lazy" srcset="/img/8.png" class="img-13" />
            See all
          </div>
          <div class="div-119">BOATING</div>
        </div>
      </div>
      <div class="column-13">
        <div class="div-120">
          <div class="div-121">
            <img loading="lazy" srcset="/img/9.png" class="img-14" />
            See all
          </div>
          <div class="div-123">MUSEUM</div>
        </div>
      </div>
    </div>
  </div>




  <div class="div-124">View More</div>
  <div class="div-125">
    <div class="div-126">
      <div class="div-127">
        <div class="column-14">
          <div class="div-128">
            <img src="/img/ThePhong3.png">
            <div class="div-129">ABOUT</div>
            <div class="div-130">
              Nestled at the intersection of adventure and cultural immersion,
              VivaVoyage stands as a beacon in the world of tourism, promising a
              transformative experience for every traveler. As a distinguished
              travel company, VivaVoyage has established itself as a curator of
              unforgettable journeys, weaving together the threads of
              exploration, authenticity, and sustainability.
            </div>
          </div>
        </div>
        <div class="column-15">
          <div class="div-131">
            <div class="div-132">
              <div class="div-133">About</div>
              <div class="div-134">VivaVoyages</div>
              <div class="div-135">Explore</div>
              <div class="div-136">Enjoy</div>
              <div class="div-137">Experience</div>
            </div>
            <div class="div-138">
              <div class="div-139">Bookings</div>
              <div class="div-140">Accomodations</div>
              <div class="div-141">River Cruise</div>
              <div class="div-142">Banquet Halls</div>
              <div class="div-143">Ropeway</div>
              <div class="div-144">Light & Sound Show</div>
            </div>
            <div class="div-145">
              <div class="div-146">Media Room</div>
              <div class="div-147">Media Kit</div>
              <div class="div-148">Gallery</div>
              <div class="div-149">Whats New Gallery</div>
              <div class="div-150">Press</div>
              <div class="div-151">Tenders</div>
            </div>
            <div class="div-152">
              <div class="div-153">Support</div>
              <div class="div-154">FAQ’s</div>
              <div class="div-155">Facilities to Pilgrims</div>
              <div class="div-156">Connectivity</div>
              <div class="div-157">Contact Us</div>
              <div class="div-158">Privacy Policy</div>
            </div>
            <div class="div-159">
              <div class="div-160">Visitors Till the Date</div>
              <div class="div-161">Visitors Till Today</div>
              <div class="div-162">Visitors Today</div>
              <div class="div-163">Visitors Online</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-164"></div>
    <div class="div-165">
      <div class="div-166">© 2024 VivaVoyages</div>
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ee8904e50ab2456849a6f64e8e0e377a066f888dbd6875967f0499464388670f?"
        class="img-15" />
    </div>
  </div>
</div>