@model VivaVoyages.Models.Tour

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    
    @* <link rel="stylesheet" href="~/css/Createtour.css" /> *@

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var destinationIndex = 0;

            $("#addDestinationBtn").click(function () {
                var destinationHtml = `<div class="destination" id="destination_${destinationIndex}">
                                            <div class="form-group">
                                                <p>${destinationIndex}</p>
                                                <label for="Destinations_${destinationIndex}__Description" class="control-label">Description</label>
                                                <input type="text" id="Destinations_${destinationIndex}__Description" name="Destinations[${destinationIndex}].Description" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Destinations_${destinationIndex}__PlaceId" class="control-label">PlaceId</label>
                                                <select id="Destinations_${destinationIndex}__PlaceId" name="Destinations[${destinationIndex}].PlaceId" class="form-control">
                                                    <option value="">Select a place</option> <!-- Default option -->
        @foreach (var place in ViewBag.Place)
        {
                                                                <option value="@place.PlaceId">ID: @place.PlaceId place: @place.PlaceName</option>
        }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="Destinations_${destinationIndex}__DateVisit" class="control-label">DateVisit</label>
                                                <input type="date" id="Destinations_${destinationIndex}__DateVisit" name="Destinations[${destinationIndex}].DateVisit" class="form-control" />
                                            </div >
                                            <div style="padding: 10 0;">
                                                <button type="button" class="btn btn-danger deleteDestinationBtn" data-destination-index="${destinationIndex}">Delete Destination</button>
                                            </div>
                                            
                                        </div>`;
                $("#destinationsContainer").append(destinationHtml);
                destinationIndex++;
            });

            // Event delegation for dynamically added delete buttons
            $("#destinationsContainer").on("click", ".deleteDestinationBtn", function () {
                var destinationIndexToDelete = $(this).data("destination-index");
                $("#destination_" + destinationIndexToDelete).remove();
            });
        });
    </script>

</head>

<body>


    <h4>Tour</h4>
    <hr />
    <div  class="container">
        <div  class="row" style="justify-content: center;">
            <div  class="col-md-6" style="border-radius: 23px;border: 1.4px solid rgb(24,113,203); ">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="padding-top: 10px;" class="form-group">
                        <label asp-for="TourName" class="control-label"></label>
                        <input asp-for="TourName" class="form-control" />
                        <span asp-validation-for="TourName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpectedProfit" class="control-label"></label>
                        <input asp-for="ExpectedProfit" class="form-control" />
                        <span asp-validation-for="ExpectedProfit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateStart" class="control-label"></label>
                        <input asp-for="DateStart" class="form-control" />
                        <span asp-validation-for="DateStart" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TourDates" class="control-label"></label>
                        <input asp-for="TourDates" class="form-control" />
                        <span asp-validation-for="TourDates" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxPasseger" class="control-label"></label>
                        <input asp-for="MaxPasseger" class="form-control" />
                        <span asp-validation-for="MaxPasseger" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TourGuide" class="control-label"></label>
                        <input asp-for="TourGuide" class="form-control" />
                        <span asp-validation-for="TourGuide" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tax" class="control-label"></label>
                        <input type="number" asp-for="Tax" class="form-control" />
                        <span asp-validation-for="Tax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CouponCode" class="control-label"></label>
                        <input asp-for="CouponCode" class="form-control" />
                        <span asp-validation-for="CouponCode" class="text-danger"></span>
                    </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">Tour Image</label>
                    <input asp-for="ImageFile" class="form-control" />
                </div>

                    <div id="destinationsContainer">
                        <!-- Destination fields will be dynamically added here -->
                    </div>
<div style="padding: 10 0;" > <button type="button" id="addDestinationBtn" class="btn btn-primary">Add Destination</button></div>
                   

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
   </div>



    <div style="text-align: center; padding: 10 0;">
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>

</body>

</html>