.div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 54px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    display: flex;
    margin-top: 22px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    white-space: nowrap;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-3 {
    color: #444b59;
    letter-spacing: 3.6px;
    flex-grow: 1;
    flex-basis: auto;
    font: 800 36px Overpass, sans-serif;
  }
  .div-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
    color: #312a2b;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.96px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-5 {
    font-family: Overpass, sans-serif;
    aspect-ratio: 2;
    justify-content: center;
    padding: 7px 10px 7px 0;
  }
  @media (max-width: 991px) {
    .div-5 {
      white-space: initial;
    }
  }
  .div-6 {
    font-family: Overpass, sans-serif;
    flex-grow: 1;
    justify-content: center;
    padding: 7px 0;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    color: #2b4d93;
    font-family: Overpass, sans-serif;
  }
  .div-8 {
    font-family: Overpass, sans-serif;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }