/* _content/VivaVoyages/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t3yr9ihamo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t3yr9ihamo] {
  color: #0077cc;
}

.btn-primary[b-t3yr9ihamo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t3yr9ihamo], .nav-pills .show > .nav-link[b-t3yr9ihamo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t3yr9ihamo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-t3yr9ihamo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t3yr9ihamo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t3yr9ihamo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t3yr9ihamo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/VivaVoyages/Views/Shared/_LayoutDashboard.cshtml.rz.scp.css */
.div[b-0s85sp4k8k] {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 54px;
  }
  @media (max-width: 991px) {
    .div[b-0s85sp4k8k] {
      padding: 0 20px;
    }
  }
  .div-2[b-0s85sp4k8k] {
    display: flex;
    margin-top: 22px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    white-space: nowrap;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-2[b-0s85sp4k8k] {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-3[b-0s85sp4k8k] {
    color: #444b59;
    letter-spacing: 3.6px;
    flex-grow: 1;
    flex-basis: auto;
    font: 800 36px Overpass, sans-serif;
  }
  .div-4[b-0s85sp4k8k] {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
    color: #312a2b;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.96px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-4[b-0s85sp4k8k] {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-5[b-0s85sp4k8k] {
    font-family: Overpass, sans-serif;
    aspect-ratio: 2;
    justify-content: center;
    padding: 7px 10px 7px 0;
  }
  @media (max-width: 991px) {
    .div-5[b-0s85sp4k8k] {
      white-space: initial;
    }
  }
  .div-6[b-0s85sp4k8k] {
    font-family: Overpass, sans-serif;
    flex-grow: 1;
    justify-content: center;
    padding: 7px 0;
  }
  @media (max-width: 991px) {
    .div-6[b-0s85sp4k8k] {
      white-space: initial;
    }
  }
  .div-7[b-0s85sp4k8k] {
    color: #2b4d93;
    font-family: Overpass, sans-serif;
  }
  .div-8[b-0s85sp4k8k] {
    font-family: Overpass, sans-serif;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-8[b-0s85sp4k8k] {
      white-space: initial;
    }
  }
