

.div {
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  max-width: 244px;
  flex-direction: column;
  font-size: 14px;
  color: #2b4d93;
  font-weight: 400;
  padding: 20px 18px 47px;
}
.div_ {
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  max-width: 850px;
  flex-direction: column;
  font-size: 14px;
  color: #2b4d93;
  font-weight: 400;
  padding: 20px 18px 47px;
}


.div-2 {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  font-size: 20px;
  white-space: nowrap;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 55px;
  stroke-width: 1px;
  background-color: #fff;
  border-radius: 50%;
}
.div-3 {
  font-family: Nunito, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
.div-4 {
  background-color: #000;
  margin-top: 17px;
  height: 1px;
}
.div-5 {
  font-family: Overpass, sans-serif;
  text-transform: uppercase;
  margin-top: 19px;
}
.div-6 {
  background-color: #2b4d93;
  margin-top: 4px;
  height: 1px;
}
.div-7 {
  color: #000;
  align-self: start;
  margin-top: 18px;
  margin-left: 33px;
  white-space: nowrap;
  font: 12px Overpass, sans-serif;
}
.div-8 {
  background-color: #000;
  align-self: start;
  width: 112px;
  height: 1px;
}
.div-9 {
  color: #000;
  align-self: start;
  white-space: nowrap;
  margin: 13px 0 0 33px;
  font: 12px Overpass, sans-serif;
}
.div-10 {
  color: #000;
  align-self: start;
  white-space: nowrap;
  margin: 14px 0 0 33px;
  font: 12px Overpass, sans-serif;
}
.div-11 {
  font-family: Overpass, sans-serif;
  text-transform: uppercase;
  margin-top: 23px;
}
.div-12 {
  font-family: Overpass, sans-serif;
  text-transform: uppercase;
  margin-top: 43px;
}

.row {
  margin-top: 30px;
  margin-bottom: 10px;
}
