<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forget password</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4--Login-form-Page-BS4.css">
    <link rel="stylesheet" href="assets/css/VentasPro-Login.css">
</head>

<body>
    <div id="main">
        <div class="text-center" id="info" style="height: 454px;margin-top: 62px;"><img id="ventaspro-logo" src="assets/img/ThePhong3.png" width="200">
            <h3 class="text-center">Forget Password</h3>
            <form class="text-start" id="form-login">
                <div class="mb-3"><label class="form-label" id="lbl-usuario" for="txt-usuario">Email</label><input class="form-control" type="text" id="txt-usuario"></div>
            </form><button class="btn btn-primary" id="btn-sesion" type="submit" style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;width: 89.8625px;">Enter</button>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>