@model Customer

@{
    Layout = "";
    ViewData["Title"] = "Login";
}


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css " />
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    @section Script{
        <partial name="_ValidationScriptsPartial" />
    }
</head>

<body>
    <main>
        <div id="main">
            <div class="text-center" id="info" style="height: 563px;margin-top: 62px;"><img id="ventaspro-logo"
                    src="/img/Logo.png" width="200">
                <h3 class="text-center"></h3>
                <form class="text-start" id="form-login" asp-action="Login" method="post">
                    @* <div asp-validation-summary="All" class="text-danger"></div> *@
                    <div class="mb-3"><label style="font-size: 20px ;" class="form-label" id="lbl-usuario" for="txt-usuario">Email</label>
                    <input asp-for="Email" class="form-control" type="text" id="txt-usuario"><span asp-validation-for="Email" class="text-danger"></span></div>
                    
                    <div style="font-size: 20px ; class="mb-3"><label class="form-label" id="lbl-password"
                            for="txt-password">Password</label>
                    <input asp-for="Password" class="form-control" type="password"id="txt-password">
                    <span asp-validation-for="Password"
                        class="text-danger"></span>
                         <a style="text-decoration: none; font-size: 13px; text-align: center; color:#256db4;" asp-action="ForgotPassword">Forgot Password</a>
                    </div>
                    <br>
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="hidden" asp-for="FullName" />
                    <input type="hidden" asp-for="Address" />
                    <input type="hidden" asp-for="PhoneNumber" />
                    <input type="hidden" asp-for="Gender" />
                    <input type="hidden" asp-for="Dob" />
                    <input type="hidden" asp-for="ResetCode" />
                    <input type="hidden" asp-for="Status" />
                   
                    <button class="btn btn-primary" id="btn-sesion" type="submit"
                        style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;width: 89.8625px;">Login</button>
                        <a asp-action="Register" class="btn btn-primary" id="btn-sesion" type="button"
                        style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;width: 89.8625px; margin-left: 60px;">Register</a>
                        <a asp-action="StaffLogin">Login as Staff</a>
                </form>
             
            </div>
        </div>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/bs-init.js"></script>
    </main>
</body>
