@model ForgotPassword

@{
    Layout="";
    ViewData["Title"] = "ResetPassword";
}

<head>
    
    <title>Reset password</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css "/>
    <link rel="stylesheet" href="~/css/Stylehome.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/TourList.css" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/-Login-form-Page-BS4--Login-form-Page-BS4.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/VentasPro-Login.css"  asp-append-version="true">
</head>
<body>

    <div id="main">
        <div class="text-center" id="info" style="height: 600px;margin-top: 62px;"><img id="ventaspro-logo" src="~/img/ThePhong3.png" width="200">
            <h3 class="text-center">Reset Password</h3>
            <form asp-action="ResetPassword" method="post" class="text-start" id="form-login">
                
                <span asp-validation-summary="All" class="text-danger"></span>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input readonly class="form-control" asp-for="Email">
                </div>
                <div class="mb-3">
                    <label class="form-label" id="lbl-usuario" for="resetCode">Reset Code</label>
                    <input id="txt-usuario" class="form-control" asp-for="ResetCode" required>
                    <span asp-validation-for="ResetCode" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" id="lbl-usuario" for="newPassword">New Password</label>
                    <input id="txt-usuario" type="password" class="form-control" asp-for="NewPassword" required pattern=".{8,20}" title="Password must be at least 8 to maximum 20 characters long">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</body>