@model Staff
@{
    Layout="";
    ViewData["Title"] = "StaffLogin";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css " />
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    @section Script {
        <partial name="_ValidationScriptsPartial" />
    }
</head> <body>
<main>
    <div id="main">
        <div class="text-center" id="info" style="height: 500px;margin-top: 62px;"><img id="ventaspro-logo"
                src="~/img/ThePhong3.png" width="200">
            <div class="div-2">WELCOME BACK VIVA DOSE!</div>
            <form asp-action="StaffLogin" method="post" class="text-start" id="form-login">
                <div class="mb-3">
                    <label class="form-label" id="lbl-usuario" for="txt-usuario">Email</label>
                    <input class="form-control" type="text" id="txt-usuario" asp-for="Email"><span
                        asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" id="lbl-usuario" for="txt-usuario">Password</label>
                    <input class="form-control" type="password" id="txt-usuario" asp-for="Password"><span
                        asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button class="btn btn-primary" id="btn-sesion" type="submit"
                        style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;width: 89.8625px;">Login</button>
            </form>
        </div>
    </div>
</main>
</body>

<head>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</head>