@model VivaVoyages.Models.Coupon

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

@* <html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Create</title>
</head>
<body>

<h4>Coupon</h4>
<hr />
<div class="row">
<div class="col-md-4">
<form asp-action="Create">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
<label asp-for="CouponCode" class="control-label"></label>
<input asp-for="CouponCode" class="form-control" />
<span asp-validation-for="CouponCode" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="Discount" class="control-label"></label>
<input asp-for="Discount" class="form-control" />
<span asp-validation-for="Discount" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="DateStart" class="control-label"></label>
<input asp-for="DateStart" class="form-control" />
<span asp-validation-for="DateStart" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="DateEnd" class="control-label"></label>
<input asp-for="DateEnd" class="form-control" />
<span asp-validation-for="DateEnd" class="text-danger"></span>
</div>
<div class="form-group">
<input type="submit" value="Create" class="btn btn-primary" />
</div>
</form>
</div>
</div>

<div>
<a asp-action="Index">Back to List</a>
</div>

</body>
</html> *@
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Create Coupon</title>
</head>

<body>
    <div class="container">
        <div class="row" style="padding: 15px;">
            <div class="col"
                style="padding: 24px;padding-top: 48px;padding-bottom: 12px;padding-right: 36px;padding-left: 36px;">
                <div class="border rounded border-2 border-black">
                    <div style="padding: 15px;">
                        <div class="row"
                            style="border-bottom-width: 15px;border-bottom-color: rgb(11,14,17);padding-bottom: 15px;">
                            <div class="col">
                                <h1 class="d-xl-flex justify-content-xl-start align-items-xl-end"
                                    style="border-bottom-color: rgb(33, 37, 41);color: #2b4d93;">Add new Coupon</h1>
                            </div>
                            <div class="col d-md-flex justify-content-md-end align-items-md-start"><a asp-action="Index"
                                    class="btn btn-primary d-md-flex" type="button"
                                    style="margin-top: 6px;margin-right: 18px;">Back <i
                                        class="fa fa-reply d-md-flex justify-content-md-end align-items-md-end"></i></a>
                            </div>
                        </div>
                        <form asp-action="Create">
                            <div class="border-2 border-black border-top">
                                <div class="row form-group"
                                    style="border-top-width: 18px;border-top-color: rgb(0,0,0);padding-top: 15px;padding-bottom: 15px;">
                                    <div class="col d-flex m-auto"><label asp-for="CouponCode"
                                            class=" control-label col-form-label fs-2 text-primary d-flex d-lg-flex justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center"
                                            for="CouponCode"><br /><span
                                                style="color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity));">Coupon
                                                Code:</span><br /><br /></label></div>
                                    <div class="col d-flex my-auto">
                                        <div class="input-group"><input asp-for="CouponCode" id="CouponCode"
                                                class="form-control border rounded-pill border-2 border-primary form-control form-control-sm"
                                                type="text" placeholder="NEWSPRING2023" required /></div>
                                    </div>
                                    <div class="col m-auto">
                                        <span asp-validation-for="CouponCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-2 border-black border-top">
                                <div class="row form-group"
                                    style="border-top-width: 18px;border-top-color: rgb(0,0,0);padding-top: 15px;padding-bottom: 15px;">
                                    <div class="col d-flex m-auto"><label asp-for="Discount"
                                            class=" control-label col-form-label fs-2 text-primary d-flex d-lg-flex justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center"
                                            for="Discount"><br /><span
                                                style="color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity));">
                                                Discount:</span><br /><br /></label></div>
                                    <div class="col d-flex my-auto">
                                        <div class="input-group"><input asp-for="Discount" id="Discount"
                                                class="form-control border rounded-pill border-2 border-primary form-control form-control-sm"
                                                type="number" placeholder="1500" required /></div>
                                    </div>
                                    <div class="col m-auto">
                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-2 border-black border-top">
                                <div class="row form-group"
                                    style="border-top-width: 18px;border-top-color: rgb(0,0,0);padding-top: 15px;padding-bottom: 15px;">
                                    <div class="col d-flex m-auto"><label
                                            class=" control-label col-form-label fs-2 text-primary d-flex d-lg-flex justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center"
                                            for="DateStart"><br /><span
                                                style="color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity));">Period:</span></label>
                                    </div>
                                    <div class="col-sm-6 d-flex my-auto">
                                        <div class="input-group"><input asp-for="DateStart" id="DateStart" required
                                                class="form-control" type="date" />
                                            <label
                                                class="form-label text-primary d-md-flex m-auto justify-content-md-center align-items-md-center input-group-text"
                                                for="DateEnd"
                                                style="background: rgba(248,249,250,0);border-width: 0px;">TO</label><input
                                                asp-for="DateEnd" id="DateEnd" required class="form-control"
                                                type="date" />
                                        </div>
                                    </div>
                                    <div class="col m-auto">
                                        <span asp-validation-for="DateStart"
                                            class="d-inline-flex flex-column m-auto text-danger "></span>
                                        <span asp-validation-for="DateEnd"
                                            class="d-inline-flex flex-column m-auto text-danger "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-2 border-black border-top">
                                <div class="row form-group"
                                    style="border-top-width: 18px;border-top-color: rgb(0,0,0);padding-top: 15px;padding-bottom: 15px;">
                                    <div class="col d-sm-flex d-md-flex d-xxl-flex justify-content-sm-end justify-content-md-end justify-content-xxl-end"
                                        style="padding-right: 48px;"><input class="btn btn-primary" type="submit"
                                            value="Create" />
                                    </div>
                                    <div class="col d-xxl-flex justify-content-xxl-start" style="padding-left: 48px;">
                                        <button type="reset" class="btn btn-danger" type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>