<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index Places</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark-icons.css">
</head>

<body>
    <div class="container">
        <div style="padding-top: 100px;">
            <div class="row" style="border-radius: 23px;border: 1.4px solid rgb(24,113,203) ;">
                <div class="col m-auto">
                    <div class="row" style="border-bottom: 0.6px solid rgb(20,114,208) ;">
                        <div class="col">
                            <h1>Places&nbsp;</h1>
                            <p>With Staff</p>
                        </div>
                        <div class="col"></div>
                        <div class="col d-lg-flex justify-content-center justify-content-lg-end align-items-lg-center">
                            <ul class="list-inline d-grid d-lg-flex">
                                <li class="list-inline-item d-md-flex justify-content-md-center align-items-md-center"><button class="btn btn-primary btn-lg" type="button" style="padding: 17px 16px;font-size: 22px;">Create Place</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive" style="margin: 10px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>PlaceID</th>
                                    <th><strong><span style="color: rgb(33, 37, 41);">PlaceName</span></strong></th>
                                    <th><span style="color: rgb(33, 37, 41);">Address</span></th>
                                    <th><span style="color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">Description</span></th>
                                    <th class="text-center" style="width: 479.487px;">Acction</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlaceId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlaceName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-center m-auto" style="width: 479.487px;"><button class="btn btn-primary" type="button" style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><i class="far fa-eye text-primary" style="width: 16px;margin-right: 0px;"></i></button><button class="btn btn-primary" type="button" style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><i class="far fa-edit text-primary" style="width: 16px;margin-right: 0px;"></i></button><button class="btn btn-primary" type="button" style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><i class="far fa-trash-alt text-primary" style="width: 16px;margin-right: 0px;"></i></button></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>